@charset "UTF-8";

/*Todas as demais medias*/
@media print {
             *{font-family: 'Courier New', Courier, monospace;}

             body{background-image: url(../back-print.jpg);}

             main{border: 2px solid black;
                   width: 90vw;

             }

             main h1{text-shadow: none;
                      color: black;
                      

             }
             main::after{
                content: "Essa impressão foifeita através do site www.Ben.com";
                text-decoration: overline;
               
             }


             



img#phone{display: none;}
img#tablet{display: none;}
img#pint{display: block;}
img#pc{display: none;}
img#tv{display: none;}

}
               
    


@media screen and (min-width:768px) and (max-width:992px) { body{background-image: url(../back-tablet.jpg);}


img#phone{display: none;}
img#tablet{display: block;}
img#pint{display: none;}
img#pc{display: none;}
img#tv{display: none;}

}


    

@media screen and (min-width:992px) and (max-width:1200px) { body{background-image: url(../back-pc.jpg);}


img#phone{display: none;}
img#tablet{display: none;}
img#pint{display: none;}
img#pc{display: block;}
img#tv{display: none;}
}



@media screen and (min-width:1200px) { body{background-image: url(../back-tv.jpg);

}

img#phone{display: none;}
img#tablet{display: none;}
img#pint{display: none;}
img#pc{display: none;}
img#tv{display: block;}
}

    

